<div class="jumbotron jumbotron-fluid">
    <div
      class="container"
      style="background-image:url(https://img1.akspic.com/image/9545-texture-paper-white-material-1920x1080.jpg); background-repeat:no-repeat; max-width: 100%;"
    >
      <h1 class="display-2" style="color:gray; font-weight:bolder">
        ABOUT ME
      </h1>
      <p class="lead" style="font-weight: bold">
        ABIRAMI ROBERT KENNEDY
      </p>
      <hr class="my-4" />
      <p
        class="display-6" style="color:black; font-size:18px; font-family: cursive;"
      >
        I am a mainframe developer with 3 years of experience. I have worked
        on COBOL, Jcl, REXX, DB2, VSAM etc.
        </p>
        <br />
        <br />
        <p
        class="display-6" style="color:black; font-size:18px; font-family: cursive;"
      >
        I worked as an Application Development Analyst in Accenture India
        for 2 years and as a Technical Systems Analyst Co-op in RBC for an
        year.
        </p>
        <br />
      <br />
      <img
        id="image"
        alt="headshot"
        src="https://media.licdn.com/dms/image/C4E03AQE8AZ3k6RMAew/profile-displayphoto-shrink_200_200/0?e=1555545600&v=beta&t=bemJigWz_LSFFvFaEZ_sTes_cJ8I1s6i721uX0prStY"
        height="200px"
      />
      <hr class="my-4" />
      <a class="btn btn-primary" href="assets/resume.pdf" target="_blank" role="button">Resume</a>
      <a class="btn btn-primary" href="https://www.linkedin.com/in/abiramirobertkennedy/" target="_blank" role="button">LinkedIn</a>
    </div>
  </div>
  <% } %>
