<!--
Projects page
Abirami Robert Kennedy
300934720
3/30/2019
-->

<!--Projects details page-->
<div class="container text-center text-white"
      style="background-image: url(https://img1.akspic.com/image/9545-texture-paper-white-material-1920x1080.jpg); background-repeat:yes-repeat;  max-width: 100%; max-height: 100%;">
      <br><p style="font-size:28px; color:gray; font-weight:bolder"><strong>PROJECTS</strong></p>
      <hr class="my-4">

        <div class="row">
            <div class="column">
                <div class="img-with-text text-center" style="color:gray; font-weight:bolder">
                <img src="assets/images/proj1.png" align="center" width="700" height="350" alt="sometext" hspace="15"/>
                <p align="left"><strong><br>BOOK HUB</strong></p>
                <p align="left"> Bookhub, is an application that provides a platform to search books
                  of their interest through name, ISBN, image and even barcode, tracks
                  their reading and stores them for future reference purposes. Also,
                  suggests user with great books on the market which matches their
                  interest. Users can chat about books to their friends often and can
                  even provide reviews on the books they have read which can help
                  other users as well.</p>
                </div>

                <div class="column">
                <div class="img-with-text text-center" style="color:gray; font-weight:bolder">
                <img src="assets/images/proj2.jpg" align="center" width="700" height="350" alt="sometext" hspace="15" />
                <p align="left"><strong><br>SNOOKER CLUB</strong></p>
                <p align="left"> Worked in creating a webpage for Ozi’s Snooker Club. Created a page
                  which can display professional player’s profiles and created
                  database. Displays tournament calendar and also feedback options.</p>
                </div>

                <div class="column">
                <div class="img-with-text text-center" style="color:gray; font-weight:bolder">
                <img src="assets/images/proj3.jpg" align="center" width="700" height="350" alt="sometext" hspace="15"/>
                <p align="left"><strong><br>STORE LOCATOR</strong></p>
                <p align="left">A well-developed online platform which directly connects donors and
                  recipients and verifies charity organization authenticity,
                  qualification as well as eligibility plays a critical role in
                  letting people avoid fraud, donate wisely and receive safely and
                  easily.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>

    </div>
