<!--
Services page
Abirami Robert Kennedy
300934720
3/30/2019
-->

<!--Services page details-->
<div class="jumbotron jumbotron-fluid">
    <div
      class="container"
      style="background-image:url(http://s1.1zoom.me/b5050/428/Apple_iPhone_Macbook_Laptops_Glasses_Telephone_519457_1440x900.jpg); background-repeat:no-repeat; max-width: 100%;"
    >
      <h1 class="display-2" style="color:chocolate; font-weight:bolder">
        SERVICES OFFERED
      </h1>
      <br />
      <br />
      <br />
      <img
      id="serv1"
      alt="test"
      style="float:right"
      src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/102857819/original/cc0e8941eddba48226341e82a685719d7dd434aa/perform-testing-and-qa.jpg"
      height="200px"
      width="275px"
    />
    <img
      id="serv1"
      alt="auto"
      style="float:right"
      src="https://img.deusm.com/informationweek/august/automation-shutterstock489.jpg"
      height="200px"
      width="275px"
    />
    <img
      id="serv1"
      alt="dev"
      style="float:right"
      src="http://softsmith.ca/Professional/Portfolio/Courses/CPAN411/HTML/ispf.utility.dsparm.gif"
      height="200px"
      width="275px"
    />
      <br />
      <br />
      <p class="lead" style="color:black; font-weight:bold;">
        *** Mainframe testing
        <br>
        <br>
        *** REXX automation
        <br>
        <br>
        *** JCL Development
        <br>
        <br>
        *** Technical documentation
        <br>
        <br>
        *** Database design
      </p>
      <br>
    </div>
  </div>


